First Program

In [3]:
print("Hello")

Hello

In [2]:
str="Maths"
a='M' in str
print(a)

True

In [6]:
a=10
b=20
add=b+a
sub=b-a
mul=a*b
divide=b/a
rem=b/a
power=a**b
print(add,sub,mul,divide,rem,power)

30 10 200 2.0 2.0 100000000000000000000

Enter the string from 3 to 7 and skip one string

In [11]:
str="Hellonew example is this"
str[3:7:1]

'lone'

Reverse of string

In [19]:
str="Hello World"
str[::-1]

'dlroW olleH'

Fetch content from string

In [36]:
str="I am Student"
str[5:8]

'Stu'

Repeition of String

In [30]:
str="Hello World "
str*5

'Hello World Hello World Hello World Hello World Hello World '

print character from backside

In [29]:
str="Hello World"
str[5:1:-1]

' oll'

# Lab 01

1. Take the sentence: All work and no play makes Jack a dull boy. Store each word in a separate variable, then print out the sentence on one line using print.

In [13]:
str1="All "
str2="work "
str3="and "
str4="no "
str4="play "
str5="makes "
str6="Jack "
str7="a "
str8="dull "
str9="boy."
str1+str2+str3+str4+str5+str6+str7+str8+str9

'All work and play makes Jack a dull boy.'

2. Add parenthesis to the expression 6 * 1 - 2 to change its value from 4 to -6.

In [4]:
6*1-2

4

In [7]:
(6*(1-2))

-6

3. Place a comment before a line of code that previously worked, and record what happens when you rerun the program.

In [14]:
#using parenthesis
6*(1-2)

-6

4. Start the Python interpreter and enter bruce + 4 at the prompt. This will give you an error: 
        5. NameError: name 'bruce' is not defined

In [9]:
bruce+4

NameError: name 'bruce' is not defined

5. NameError: name 'bruce' is not defined 
                Assign a value to bruce so that bruce + 4 evaluates to 10.

In [10]:
bruce=6
bruce+4

10

6. The formula for computing the final amount if one is earning compound interest is given on Wikipedia as 

        Write a Python program that assigns the principal amount of $10000 to variable P, assign to n the value 12, and assign to r the interest rate of 8%. Then have the program prompt the user for the number of years t that the money will be compounded for. Calculate and print the final amount after t years.

In [68]:
p=10000
n=12
r=0.08
t=float(input("Enter the time:- "))
p*(pow((1+r),t))
#print(result)

Enter the time:- 3

12597.12

7. Evaluate the following numerical expressions in your head, then use the Python interpreter to check your results: 
            1.  5 % 2 
            2.  9 % 5 
            3.  15 % 12 
            4.  12 % 15 
            5.  6 % 6 
            6.  0 % 7 
            7.  7 % 0

In [20]:
5%2

1

In [21]:
9%5

4

In [22]:
15%12

3

In [23]:
12%15

12

In [24]:
6%6

0

In [25]:
0%7

0

In [26]:
7%0

ZeroDivisionError: integer division or modulo by zero

8. You look at the clock and it is exactly 2pm. You set an alarm to go off in 51 hours. At what time does the alarm go off? (Hint: you could count on your fingers, but this is
not what weâ€™re after. If you are tempted to count on your fingers, change the 51 to 5100.)

183600

9. Write a Python program to solve the general version of the above problem. Ask the user for the time now (in hours), and ask for the number of hours to wait. Your program should output what the time will be on the clock when the alarm goes off.

0. The value of the expressions 4/(3*(2-1)) and 4/3*(2-1)

In [42]:
4/(3*(2-1))

1.3333333333333333

In [43]:
4/3*(2-1)

1.3333333333333333

11. 4 + 3 % 5

In [46]:
4+3%5

7

12. Evaluate the expression given below if A = 16 and B = 15.A % B // A

In [50]:
A=16
B=15
A%B//A

0

13. What will be the value of x in the following Python expression?x = int(43.55+2/2)

In [52]:
x=int(43.55+2/2)
print(x)

44

14. 2+4.00, 2**4.0

In [53]:
2+4.00

6.0

In [56]:
2**4.0

16.0

        15. What are the values of the following Python expressions? 
        16. 2**(3**2) 
        17. (2**3)**2 
        18. 2**3**2 
        19. 8/4/2, 8/(4/2) 
        20. "a"+"bc" 
        21. "abcd"[2:] 
        22. str1 = 'hello' ,str2 = ','str3 = 'world', str1[-1:]

In [57]:
2**(3**2)

512

In [58]:
(2**3)**2

64

In [59]:
2**3**2

512

In [60]:
8/4/2

1.0

In [61]:
8/(4/2)

4.0

In [62]:
"a"+"bc"

'abc'

In [63]:
"abcd"[2:]

'cd'

In [64]:
str1="hello"
str2=","
str3="world"
str1[-1:]

'o'

PPT 1

In [75]:
(3+2)**(3-6)+3*2

6.008

In [77]:
X=2
Y=4
Y/X+2*X*Y

18.0

In [81]:
a=5
b=6
c=a+b/a
print(c)

6.2

In [82]:
(4+5)*3-(6/3)*2

23.0

Lecture #5 While loop

In [1]:
a=1;
while a<1:
    print("number is one")
    a+=1
print("Out side the loop")

Out side the loop

Take the values of length and breadth from user and find out whether they are square or not.

In [17]:
l=int(input("Enter the Leangth:- "))
b=int(input("Enter the breadth:- "))
if l==b:
    print("Square ")
else:
    print("Not a square")

Enter the Leangth:- 5

TypeError: 'int' object is not callable

A shopkeeper will give discount of 10% if cost of purchace quantity is more than 1000. Ask user for quantity suppose 1 unit will cost rs 100 judge and print total cost of user.

In [15]:
qu = float(input("Enter the quantity "))
i=qu*100
if i > 1000:
    total=(i)-(i*10/100)
else:
    total=i
print(total)

Enter the quantity 11
990.0

Grading System

In [2]:
marks = int(input("enter the marks: "))
if marks < 25:
    grade ='F'
elif marks >= 25 and marks < 45:
    grade='E'
elif marks >= 45 and marks < 50:
    grade='D'
elif marks >=50 and marks < 60:
    grade='C'
elif marks >= 60 and marks < 80:
    grade = 'B'
elif marks >= 80:
    grade = 'A'
else:
    print("Enter Valid marks b/w 0 to 100")
print(grade)

enter the marks: 34
E

A student will not allow to sit in the exam if attendence is less than 75%.
Take the following input from the user.
i. Numbeer of class held.
ii. Number of class attend and print.
iii. Percentage of class attended.
Is student is allowed to sit in the exam or not.

In [1]:
total=int(input("enetr total classes:- "))
att=int(input("enetr total classes attended:- "))
print("Total class attend:- ",att)
percent = att/total*100
if percent>=75:
    print("allowed to sit in exam classes attended is",percent,"%")
else:
    print("not allowed percent of classes attended is",percent,"%")

enetr total classes:- 25
enetr total classes attended:- 20
Total class attend:-  20
allowed to sit in exam classes attended is 80.0 %

The four compass points can be abbreviated by single lettwe as "N","E","S","W". Create a function turn_clockwise...

In [2]:
def turn_clockwise(direction):
    if direction in ('n','N'):
        print("E")
    elif direction in ('e','E'):
        print("S")
    elif direction in ('s','S'):
        print("W")
    elif direction in ('w','W'):
        print("N")
    else:
        print("None")
x=input("Enter the direction:- ")
turn_clockwise(x)

Enter the direction:- n
E

In [7]:
print('Hello world')
#single line comment

'''

Hello There
muti line comment

'''

Hello world

'\n\nHello There\nmuti line comment\n\n'

# CLASS and OBJECTS

Create a circle class and initilize it with Radius. Make two method get area and get circumference inside the class

In [5]:
class circle:
    def __init__(self,radius):
        self.radius=radius;
    def getArea(self):
        area=3.14*self.radius*self.radius
        return area
    def getCircumference(self):
        circumference=2*3.14*self.radius
        return circumference

obj=circle(3)
print(obj.getArea())
print(obj.getCircumference())

28.259999999999998
18.84

Create a class Temp. make two methods:-
i. Convert Celsius:- It take Fahrenhit and convert it into celsius.
ii. Convert Fahrenhiet:- It take Celsius and convert it into Fahrenhit.

In [20]:
class convert:
    def __init__(self,value):
        self.value=value
    def getCel(self):
        cel=(((self.value-32)*5)/9)
        return cel
    def getFah(self):
        fah=(((9/5)*self.value)+32)
        return fah
    
obj=convert(98.6)
print("Celsius",obj.getCel())
print("Fahrenheit:- ",obj.getFah())

Celsius 37.0
Fahrenheit:-  209.48

In [21]:
class convert:
    #def __init__(self,value):
     #   self.value=value
    def getCel(self,f):
        cel=(((f-32)*5)/9)
        return cel
    def getFah(self,c):
        fah=(((9/5)*c)+32)
        return fah
    
obj=convert()
print("Celsius",obj.getCel(98.6))
print("Fahrenheit:- ",obj.getFah(37.0))

Celsius 37.0
Fahrenheit:-  98.60000000000001

# FILE HANDLING