# Hello Python Print Function

In [1]:
print("Hello Python")

Hello Python

# If,else,elif

In [3]:
x=int(input("Enter the X value:- "))
y=int(input("Enter the Y value:- "))
if x>y:
    print("x is heigher.")
else:
    print("y is heigher.")

Enter the X value:- 4
Enter the Y value:- 5
y is heigher.

In [10]:
#using or operator
gen=input("Are you Male:-(y/n):-  ")

if gen=='Y' or gen=='y':
    print("Male")
else:
    print("Female")

Are you Male:-(y/n):-  y
Male

In [13]:
#and Operator
age=int(input("Enter the age:- "))

if age>=18 and age<=120:
    print("You are eligible for Vote")
else:
    print("You are not eligible for Vote.")

Enter the age:- 22
You are eligible for Vote

In [21]:
#if..elif grades
marks=int(input("Enter the marks:- "))

if marks>=90 and marks<=100:
    print("A+")
elif marks>=80 and marks<90:
    print("A")
elif marks>=70 and marks<80:
    print("B+")
elif marks>=60 and marks<70:
    print("B")
elif marks>=50 and marks<60:
    print("C")
elif marks>=40 and marks<50:
    print("D")
elif marks>=30 and marks<40:
    print("E")
elif marks>=1 and marks<30:
    print("F")
else:
    print("You enter the wrong Marks.")

Enter the marks:- 87
A

In [27]:
#Nested if
n=int(input("Enter the number:- "))
if n>=2:
    if n%2==0:
        print("Number is even.")
    else:
        print("Number is odd.")
else:
    print("Number is less than 2.")

Enter the number:- 16
Number is even.

# Loops

In [30]:
#accessing the element
for i in range(11):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10

In [31]:
for s in "Python":
    print(s,end=' ')

P y t h o n

In [34]:
n=int(input("Enter the number to find the square up to n:- "))
for i in range(1,n+1):
    print(i," square is:- ",i*i)

Enter the number to find the square up to n:- 10
1  square is:-  1
2  square is:-  4
3  square is:-  9
4  square is:-  16
5  square is:-  25
6  square is:-  36
7  square is:-  49
8  square is:-  64
9  square is:-  81
10  square is:-  100

In [38]:
#print even number
n=int(input("Enter the number:- "))
for i in range(2,n+1):
    if i%2==0:
        print(i, "is Even Number.")

Enter the number:- 10
2 is Even Number.
4 is Even Number.
6 is Even Number.
8 is Even Number.
10 is Even Number.

In [41]:
#print the table of a number:- 
n=int(input("Enter the number:- "))
for i in range(1,11):
    print(i*n,end=' ')

Enter the number:- 5
5 10 15 20 25 30 35 40 45 50

In [42]:
#While loop
n=int(input())
while n!=1:
    print("You are inside the loop.")
    print("For exit the while loop insert the 1.")
    n=int(input())
print("You are outside the loop")

2
You are inside the loop.
For exit the while loop insert the 1.
3
You are inside the loop.
For exit the while loop insert the 1.
3
You are inside the loop.
For exit the while loop insert the 1.
1
You are outside the loop

In [2]:
#print number
n=int(input("Enter the number:- "))
i=1
while i<=n:
    print(i)
    i+=1

Enter the number:- 5
1
2
3
4
5

In [4]:
#square of a number
n=1
while n!=0:
    n=int(input("Enter the number:- "))
    print("Square of a number ",n," is",n*n)
print("End of Program")

Enter the number:- 5
Square of a number  5  is 25
Enter the number:- 3
Square of a number  3  is 9
Enter the number:- 1
Square of a number  1  is 1
Enter the number:- 0
Square of a number  0  is 0
End of Program

In [5]:
#nested Loops
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

# List

In [8]:
#create a list
n=[1,2,3,4,5]
print(n)
print(type(n))

[1, 2, 3, 4, 5]
<class 'list'>

In [12]:
#taking input from user
n=[int(i) for i in input().split()]
print(n)
print(type(n))

1 2 3 4 5 6 7 8 9 10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [14]:
#list with different items
n=[1,2,3,"Naman",(1,2,3),2.4]
print(n)

[1, 2, 3, 'Naman', (1, 2, 3), 2.4]

In [17]:
#traverse the list using loop
n=[1,2,3,4,5,"Naman",(1,2,3)]
for i in n:
    print(i,end=' ')

1 2 3 4 5 Naman (1, 2, 3)

In [22]:
#Access item using index
n=[1,2,3,4,5,"Naman",(1,2,3)]
print(n[2])

3

In [25]:
#acess item with negative item
n[-2]

'Naman'

In [26]:
n[::-1]

[(1, 2, 3), 'Naman', 5, 4, 3, 2, 1]

In [27]:
#access item with range
n[2:6]

[3, 4, 5, 'Naman']

In [33]:
#access neg item range
n[-5:-1]

[3, 4, 5, 'Naman']

In [34]:
n[2]=111

In [35]:
n

[1, 2, 111, 4, 5, 'Naman', (1, 2, 3)]

In [36]:
len(n)

7

In [37]:
n.append(1)

In [38]:
n

[1, 2, 111, 4, 5, 'Naman', (1, 2, 3), 1]

In [39]:
n.insert(2,0)

In [40]:
n

[1, 2, 0, 111, 4, 5, 'Naman', (1, 2, 3), 1]

In [42]:
n.remove(2)

In [43]:
n

[1, 0, 111, 4, 5, 'Naman', (1, 2, 3), 1]

In [44]:
n.pop()

1

In [45]:
n.pop(1)

0

In [46]:
n

[1, 111, 4, 5, 'Naman', (1, 2, 3)]

In [47]:
del n[2]

In [48]:
n

[1, 111, 5, 'Naman', (1, 2, 3)]

In [49]:
n.clear()

In [50]:
n

[]

In [51]:
del n

In [54]:
n=[1,2,3,4,5,"Naman",(1,2,3)]
n
2 in n

True

In [58]:
a=n.copy()

In [59]:
a

[1, 2, 3, 4, 5, 'Naman', (1, 2, 3)]

In [60]:
n+a

[1, 2, 3, 4, 5, 'Naman', (1, 2, 3), 1, 2, 3, 4, 5, 'Naman', (1, 2, 3)]

In [69]:
x=[5,7,4,8,9,3,2,5,1,6,8,9]
x.sort()
x

[1, 2, 3, 4, 5, 5, 6, 7, 8, 8, 9, 9]

In [70]:
x.sort(reverse=True)
x

[9, 9, 8, 8, 7, 6, 5, 5, 4, 3, 2, 1]

# Multi List 2D

In [87]:
li=[[1,2,3],[4,5,6],[7,8,9]]
li

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [74]:
for i in range(len(li)):
    for j in range(len(li[i])):
        print(li[i][j],end=' ')
    print()

1 2 3
4 5 6
7 8 9

In [76]:
x=[[0 for i in range(5)] for j in range(5)]
x

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

In [77]:
li.append([10,11,12])

In [78]:
li

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [81]:
#Adding element to sub list
li[0].extend([11,22,33])

In [82]:
li

[[1, 2, 3, 11, 22, 33, 11, 22, 33], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [83]:
#reverse the list
li.reverse()
li

[[10, 11, 12], [7, 8, 9], [4, 5, 6], [1, 2, 3, 11, 22, 33, 11, 22, 33]]

In [86]:
#reverse the sublist
li[0].reverse()
li

[[3, 2, 1], [4, 5, 6], [7, 8, 9]]

In [88]:
li

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [103]:
li.reverse()
for i in range(len(li)):
    for j in range(len(li[i])):
        li[i].reverse()
li

[[7, 8, 9], [4, 5, 6], [1, 2, 3]]

In [98]:
li.sort()
li

[[3, 2, 1], [6, 5, 4], [9, 8, 7]]

In [92]:
li[0].sort()

In [104]:
li

[[7, 8, 9], [4, 5, 6], [1, 2, 3]]

In [105]:
li.sort()
for i in range(len(li)):
    for j in range(len(li[i])):
        li[i].sort()
li

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Tuple

In [107]:
t=(1,2,3,4,5,6)
t

(1, 2, 3, 4, 5, 6)

In [108]:
type(t)

tuple

In [110]:
t1=(1,2,3,"Naman","Ajmera",(1,2,3),[1,2,3])
t1

(1, 2, 3, 'Naman', 'Ajmera', (1, 2, 3), [1, 2, 3])

In [113]:
#for assinging the single tuple value in tuple
t2=(1)
t3=(1,)
print(type(t2))
print(t2)
print(type(t3))
print(t3)

<class 'int'>
1
<class 'tuple'>
(1,)

In [114]:
#traverse tuple item using loop
for i in t1:
    print(i,end=' ')

1 2 3 Naman Ajmera (1, 2, 3) [1, 2, 3]

In [117]:
t1[1]

2

In [118]:
t1[3]

'Naman'

In [119]:
t1[0:5]

(1, 2, 3, 'Naman', 'Ajmera')

In [122]:
t1[:-1]

(1, 2, 3, 'Naman', 'Ajmera', (1, 2, 3))

In [123]:
t1[-5:-1]

(3, 'Naman', 'Ajmera', (1, 2, 3))

In [124]:
len(t1)

7

In [125]:
3 in t1

True

In [132]:
x=t1.index(3)
x

2

In [133]:
t1

(1, 2, 3, 'Naman', 'Ajmera', (1, 2, 3), [1, 2, 3])

In [135]:
t1+t

(1, 2, 3, 'Naman', 'Ajmera', (1, 2, 3), [1, 2, 3], 1, 2, 3, 4, 5, 6)

In [137]:
del t1

In [138]:
t

(1, 2, 3, 4, 5, 6)

In [142]:
#count() count the occurence of the item
t1=(1,2,3,4,5,6,5,4,3,2,5,4,6,3,2,5,4,2,4,5,4)
n=t1.count(4)
n

6

# Dictionaries

In [181]:
#create or show the dictionaries
new={'one':1,'two':2,'three':3,'four':4,'five':6}
new

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 6}

In [159]:
#show the keys of dictionaries
for i in new:
    print(i)

one
two
three
four
five

In [160]:
#show the data of dict
for i in new:
    print(new[i])

1
2
3
4
6

In [161]:
#show the key value pair it show in the tuple format'\
for i in new.items():
    print(i)

('one', 1)
('two', 2)
('three', 3)
('four', 4)
('five', 6)

In [162]:
type(i)

tuple

In [163]:
new

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 6}

In [166]:
#change or update the value of Dictonary
new['five']=5

In [167]:
new

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [168]:
#Add new items in dictonary
new['six']=6

In [169]:
new

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6}

In [170]:
len(new)

6

In [171]:
'one' in new

True

In [173]:
new.pop('six')

6

In [174]:
new

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [175]:
del new['five']

In [176]:
new

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [177]:
new.clear()

In [178]:
new

{}

In [179]:
del new

In [183]:
x=new.copy()
x

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 6}

In [184]:
y=dict(x)

In [185]:
y

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 6}

In [187]:
#Nested Dictionary
laptop={'brand':'MacBook','os':'Mac OS'}
mobile={'brand':'iPhone','os':'ios'}
Apple={'laptop':laptop,'mobile':mobile}

Apple

{'laptop': {'brand': 'MacBook', 'os': 'Mac OS'},
 'mobile': {'brand': 'iPhone', 'os': 'ios'}}