In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('Salary_Data.csv')
df.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [7]:
X = np.array(df[['YearsExperience']])
Y = np.array(df[['Salary']])

In [12]:
featuresetx = X
from sklearn.preprocessing import MinMaxScaler
x = X #returns a numpy array
min_max_scalerx = MinMaxScaler()
feature_mtxx = min_max_scalerx.fit_transform(x)
X = feature_mtxx

In [13]:
featuresety = Y
from sklearn.preprocessing import MinMaxScaler
y = Y #returns a numpy array
min_max_scalery = MinMaxScaler()
feature_mtxy = min_max_scalery.fit_transform(y)
Y = feature_mtxy

In [14]:
alpha=0.01
w=np.array([0,0],dtype=float)

In [15]:
for x in range(100000):
    for i in range (30):
        sm= X[i] * w[1] + w[0]
        yhat=sm
        if (y[i]-yhat)!=0:
            w[1]=w[1]+(alpha *(y[i]-yhat)* X[i])
            w[0]=w[0] +(alpha *(y[i]-yhat))
print(w)

[-0.01823964  1.04893356]