In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
x1=np.array([0,0,1,1])
x1

array([0, 0, 1, 1])

In [3]:
x2=np.array([0,1,0,1])
x2

array([0, 1, 0, 1])

In [4]:
y=np.array([0,1,1,1])
y

array([0, 1, 1, 1])

In [5]:
w=np.array([0,0],dtype=float)
w

array([0., 0.])

In [6]:
alpha=0.1
sm=0
theta=0.5
print(alpha,sm,theta)

0.1 0 0.5

In [7]:
for x in range(1000):
    for i in range(4):
        sm= x1[i] * w[0] + x2[i] * w[1]
        if sm > theta:
            yhat=1
        else:
            yhat=0
        if(y[i] - yhat)!=0:
            w[0] = w[0] + (alpha * (y[i]-yhat) * x1[i])
            w[1] = w[1] + (alpha * (y[i]-yhat) * x2[i])
print(w)

for i in range(4):
    sm=x1[i]*w[0]+x2[i]*w[1]
    if sm>theta:
        yhat=1
    else:
        yhat=0
    print(yhat)

[0.6 0.6]
0
1
1
1

In [130]:
df=pd.read_csv('Salary_Data.csv')

In [98]:
df = pd.read_csv('salary.csv')

In [131]:
df

    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872

In [132]:
X=np.array(df[['YearsExperience']])
Y=np.array(df[['Salary']])

In [133]:
X

array([[ 1.1],
       [ 1.3],
       [ 1.5],
       [ 2. ],
       [ 2.2],
       [ 2.9],
       [ 3. ],
       [ 3.2],
       [ 3.2],
       [ 3.7],
       [ 3.9],
       [ 4. ],
       [ 4. ],
       [ 4.1],
       [ 4.5],
       [ 4.9],
       [ 5.1],
       [ 5.3],
       [ 5.9],
       [ 6. ],
       [ 6.8],
       [ 7.1],
       [ 7.9],
       [ 8.2],
       [ 8.7],
       [ 9. ],
       [ 9.5],
       [ 9.6],
       [10.3],
       [10.5]])

In [134]:
Y

array([[ 39343],
       [ 46205],
       [ 37731],
       [ 43525],
       [ 39891],
       [ 56642],
       [ 60150],
       [ 54445],
       [ 64445],
       [ 57189],
       [ 63218],
       [ 55794],
       [ 56957],
       [ 57081],
       [ 61111],
       [ 67938],
       [ 66029],
       [ 83088],
       [ 81363],
       [ 93940],
       [ 91738],
       [ 98273],
       [101302],
       [113812],
       [109431],
       [105582],
       [116969],
       [112635],
       [122391],
       [121872]], dtype=int64)

In [135]:
featureset = X
from sklearn.preprocessing import MinMaxScaler
x = X #returns a numpy array
min_max_scaler = MinMaxScaler()
feature_mtx = min_max_scaler.fit_transform(x)
X = feature_mtx

In [136]:
featureset = Y
from sklearn.preprocessing import MinMaxScaler
y= Y #returns a numpy array
min_max_scaler = MinMaxScaler()
feature_mtx = min_max_scaler.fit_transform(y)
Y = feature_mtx

In [137]:
w=np.array([0,0],dtype=float)
w

array([0., 0.])

In [138]:
alpha=0.1
sm=0
theta=0.5
print(alpha,sm,theta)

0.1 0 0.5

In [139]:
for x in range(100000):
    for i in range(30):
        sm= X[i] * w[1] + w[0]
        yhat=sm
        if(y[i] - yhat)!=0:
            w[0] = w[0] + (alpha * (y[i]-yhat))
            w[1] = w[1] + (alpha * (y[i]-yhat) * X[i])
print(w)

[36731.0270346  87484.65338327]

In [129]:
for i in range(4):
    sm=x1[i]*w[0]+x2[i]*w[1]
    if sm>theta:
        yhat=1
    else:
        yhat=0
    print(yhat)

1
1
1
1