In [33]:
s={'apple','abc',123}

In [34]:
type(s)

set

In [35]:
'abc' in s

True

In [36]:
12 in s

False

In [37]:
12 not in s

True

In [38]:
#looping
for i in s:
    print(i)

abc
apple
123

In [39]:
len(s)

3

In [40]:
s.add(23)

In [41]:
s

{123, 23, 'abc', 'apple'}

In [30]:
s1={123,2,44,'Naman'}

In [31]:
s.update(s1)

In [32]:
s

{1, 123, 2, 23, 44, 'Naman', 'abc', 'apple'}

In [44]:
s

{123, 23, 'abc', 'apple'}

In [45]:
s.remove(23)

In [46]:
s.discard('rrr')

In [47]:
s

{123, 'abc', 'apple'}

In [48]:
s.pop()

'abc'

In [49]:
s

{123, 'apple'}

# Sets Functions

In [21]:
a={1,2,3,4}
b={3,4,5,6}

In [9]:
#intersection
a.intersection(b)

{3, 4}

In [10]:
#Union
a.union(b)

{1, 2, 3, 4, 5, 6}

In [11]:
#difference
a.difference(b)

{1, 2}

In [12]:
b.difference(a)

{5, 6}

In [13]:
#symetric difference
a.symmetric_difference(b)

{1, 2, 5, 6}

In [14]:
a.intersection_update(b)

In [15]:
a

{3, 4}

In [19]:
a.update('new')

In [20]:
a

{1, 2, 3, 4, 'e', 'n', 'w'}

In [22]:
a.issubset(b)

False

In [23]:
a

{1, 2, 3, 4}

In [24]:
b

{3, 4, 5, 6}

In [25]:
c={3,4}

In [26]:
a.issubset(c)

False

In [27]:
c.issubset(a)

True

In [28]:
c.issubset(b)

True

In [29]:
a.issuperset(c)

True

In [30]:
a.isdisjoint(c)

False

In [31]:
d={7,8}

In [32]:
a.isdisjoint(d)

True

In [35]:
#sum of unique number in lists
lists=[int(i) for i in input().split()]
sett=set(lists)
sum1=0
for j in sett:
    sum1=sum1+j
print(sum1)

1 2 3 4 3 1 5
15

In [50]:
#Make Unique Array
n=int(input())
l=[int(i) for i in input().split()]
s=set(l)
print(len(l)-len(s))

10
1 0 4 0 1 2 2 3 2 5
4

In [51]:
strr="aDcadhc"
s=set(strr)

In [61]:
s

{'D', 'a', 'c', 'd', 'h'}

In [63]:
for i in s:
    print(i)

d
h
D
a
c

In [16]:
n=int(input())
new=[]
for i in range(n):
    l=[int(j) for j in input().split()]
    new.append(l)
s1=set(new[0])
s2=set(new[1])
s3=set(new[2])
s4=set(new[3])

5
7 6 5
5 7 6
8 2 9
2 3 4
2 4 3

In [17]:
print(s1,s2,s3,s4)

{5, 6, 7} {5, 6, 7} {8, 9, 2} {2, 3, 4}

In [21]:
if s1!=s2:
    count+=1
elif s2!=

{5, 6, 7}

In [31]:
## Read input as specified in the question.
## Print output as specified in the question.
def uniqueTriangle(arr):
    row = len(arr)
    col = len(arr[0])
    mp = {}
    hel = {}

    for i in range(row):
        tri = arr[i]
        tri.sort()
        strA = [str(x) for x in tri]
        strB = ''
        strB = strB.join(strA)
        if strB not in mp.values():
            mp[i] = strB
        else:
            hel[i] = strB

    count = 0
    for i in range(row):
        if i in mp:
            val = mp.get(i)
        if val not in hel.values():
            count = count + 1

    print(count)

n = int(input())
arr = [list(map(int, input().split())) for x in range(n)]
uniqueTriangle(arr)

5
7 6 5
5 7 6
8 2 9
2 3 4
2 4 3
1
[[5, 6, 7], [5, 6, 7], [2, 8, 9], [2, 3, 4], [2, 3, 4]]

In [36]:
from collections import Counter
def unique_triangles(arr):
    counter = Counter([frozenset(a) for a in arr])
    return len([res for res in counter if counter[res] == 1])


n = int(input())
arr = [list(map(int, input().split())) for x in range(n)]
ans=unique_triangles(arr)
print(ans)

5
7 6 5
5 7 6
8 2 9
2 3 4
2 4 3
1

In [35]:
Counter

collections.Counter