# Print HelloWorld

In [1]:
print("Hello World")
print("Hello")
print("World")

Hello World
Hello
World

# Variables

In [8]:
a=10
b=20
c=a+b
c

30

In [9]:
s="Naman"

In [10]:
type(a)

int

In [11]:
type(s)

str

# Numbers

In [12]:
a1=3
a2=3.4
a3=4+5j
print(type(a1))
print(type(a2))
print(type(a3))

<class 'int'>
<class 'float'>
<class 'complex'>

In [14]:
a=10
print(id(a))
a=a+1
print(id(a))
a=a+2
print(id(a))

140703397159600
140703397159632
140703397159696

In [15]:
x=10
y=10
print(id(x))
print(id(y))

140703397159600
140703397159600

# Arithmetic Operation

In [16]:
a=10
b=4
a+b

14

In [17]:
a-b

6

In [18]:
a*b

40

In [24]:
a/b #Floating Division

2.5

In [25]:
b/a

0.4

In [26]:
a//b #Integer division

2

In [30]:
a**b #exponation

10000

In [31]:
a%b

2

In [35]:
#Simple Intrest
p=100
r=12
t=2
#si=p*r*t/100
si=100/p*r*t
si

24.0

In [37]:
#fah to celcius
f=100
c=(f-32)*5/9
print(c)
c=(f-32)*5//9
print(c)

37.77777777777778
37

In [38]:
a = 10
id1 = id(a)
b = a + 2-2
id2 = id(b)
print(id1)
print(id2)

140703397159600
140703397159600

In [40]:
print(17/10)

1.7

# Inputs from Users

In [48]:
a=input()
b=input()
s=a+b
print(s)
#it always be a string

23
34
2334

In [47]:
#for taking as a different datatype
a=int(input())
type(a)

3

int

In [49]:
a=int(input())
b=int(input())
s=a+b
print(s)

23
34
57

In [51]:
a=int(input())
b=int(input())
c=int(input())
ans=(a+b+c)/3
ans

5
10
5

6.666666666666667

In [52]:
a=int(input())
b=int(input())
c=int(input())
Average=(a+b+c)/3
Average

3
4
6

4.333333333333333