In [1]:
a={}
type(a)

dict

In [6]:
a={'a','b','c'}
print(a)

{'a', 'b', 'c'}

In [7]:
d={"one":1,"two":2,"three":3,4:"Four"}
d

{'one': 1, 'two': 2, 'three': 3}

In [10]:
len(d)

3

In [13]:
dd=d.copy()
dd

{'one': 1, 'two': 2, 'three': 3}

In [16]:
c=dict([('one',1),('two',2),('three',3)])
c

{'one': 1, 'two': 2, 'three': 3}

In [23]:
x=dict.fromkeys(['abc',1,2],1)
x

{'abc': 1, 1: 1, 2: 1}

In [24]:
x['abc']=2

In [25]:
x

{'abc': 2, 1: 1, 2: 1}

# Accessing and Looping the Dictonaries

In [27]:
a={1:2,3:4,"list":[1,2],"dict":{1,2}}
a

{1: 2, 3: 4, 'list': [1, 2], 'dict': {1, 2}}

In [28]:
a[1]

2

In [29]:
a["list"]

[1, 2]

In [31]:
 a.get('list')

[1, 2]

In [32]:
print(a.get('li'))

None

In [34]:
 a.get('li',0)

0

In [35]:
a.keys()

dict_keys([1, 3, 'list', 'dict'])

In [36]:
a.values()

dict_values([2, 4, [1, 2], {1, 2}])

In [37]:
a.items()

dict_items([(1, 2), (3, 4), ('list', [1, 2]), ('dict', {1, 2})])

In [2]:
#taking input from user and create a dictonary
d={}
for a in range(2):
    names=input()
    scoress=[int(i) for i in input().split()]
    d[names]=scoress
d

naman
1 2 3
ajmera
4 5 6

{'naman': [1, 2, 3], 'ajmera': [4, 5, 6]}

# Looping

In [41]:
#it show the key with values
for i in a:
    print(i,a[i])

1 2
3 4
list [1, 2]
dict {1, 2}

In [42]:
#it show the key
for i in a:
    print(i)

1
3
list
dict

In [43]:
#it shows the values
for i in a.values():
    print(i)

2
4
[1, 2]
{1, 2}

In [47]:
#check the key is there or not
"list" in a

True

# Adding and Removing the Data in Dictonaries

In [49]:
a

{1: 2, 3: 4, 'list': [1, 2], 'dict': {1, 2}}

In [57]:
#for adding
a['tuple']=(1,2,3,4)

In [58]:
a

{1: 10, 3: 4, 'list': [1, 2], 'dict': {1, 2}, 'tuple': (1, 2, 3, 4)}

In [59]:
type(a['tuple'])

tuple

In [60]:
#for updating
a[1]=10

In [61]:
a

{1: 10, 3: 4, 'list': [1, 2], 'dict': {1, 2}, 'tuple': (1, 2, 3, 4)}

In [62]:
b={3:5,'the':4,2:1000}
b

{3: 5, 'the': 4, 2: 1000}

In [63]:
a.update(b)

In [64]:
a

{1: 10,
 3: 5,
 'list': [1, 2],
 'dict': {1, 2},
 'tuple': (1, 2, 3, 4),
 'the': 4,
 2: 1000}

In [65]:
a.pop(2)

1000

In [66]:
a

{1: 10, 3: 5, 'list': [1, 2], 'dict': {1, 2}, 'tuple': (1, 2, 3, 4), 'the': 4}

In [67]:
del a['the']

In [68]:
a

{1: 10, 3: 5, 'list': [1, 2], 'dict': {1, 2}, 'tuple': (1, 2, 3, 4)}

In [69]:
x

{'abc': 2, 1: 1, 2: 1}

In [70]:
del x

# Print all words with freq k

In [1]:
a="this i a word string having many many word"
k=2

In [10]:
words=a.split()

In [11]:
words

['this', 'i', 'a', 'word', 'string', 'having', 'many', 'many', 'word']

In [12]:
#create a dictionaries of words
d={}
for w in words:
    if w in d:
        d[w]=d[w]+1
    else:
        d[w]=1

In [13]:
d

{'this': 1, 'i': 1, 'a': 1, 'word': 2, 'string': 1, 'having': 1, 'many': 2}

In [16]:
l={}
for w in words:
    l[w]=l.get(w,0)+1
l

{'this': 1, 'i': 1, 'a': 1, 'word': 2, 'string': 1, 'having': 1, 'many': 2}

In [17]:
for w in d:
    if d[w]==k:
        print(w)

word
many

In [18]:
def printKFrequencyWords(s,k):
    words=s.split()
    d={}
    for w in words:
        d[w]=d.get(w,0)+1
    for w in d:
        if d[w]==k:
            print(w)

In [19]:
printKFrequencyWords(a,2)

word
many

In [20]:
printKFrequencyWords(a,1)

this
i
a
string
having

In [75]:
# Highest frequency Number.
n=int(input())
l=[int(i) for i in input().split()]
d={}
for value in l:
    d[value]=d.get(value,0)+1
keymax=max(d,key=d.get)
keymax

5
1 2 2 3 2

2

In [76]:
d

{1: 1, 2: 3, 3: 1}

In [72]:
#Iterative over list
n=int(input())
l=[int(i) for i in input().split()]
d={}
for value in l:
    d[value]=d.get(value,0)+1
max_freq=-1
best_elem=0
for elem in l:
    if (d[elem] > max_freq):
        max_freq=d[elem]
        best_elem=elem
        
print(best_elem)

10
675 28 -429 -290 444 -949 992 -850 280 810
675

In [82]:
# show the maximum frequency key 
n=int(input())
l=[int(i) for i in input().split()]
d={}
for value in l:
    d[value]=d.get(value,0)+1

max_freq=-1
ans_elem=0
for elem in l:
    if d[elem]>max_freq:
        max_freq=d[elem]
        ans_elem=elem
print(ans_elem)

10
675 28 -429 -290 444 -949 992 -850 280 810
675

In [83]:
# show the maximum frequency value 
n=int(input())
l=[int(i) for i in input().split()]
d={}
for value in l:
    d[value]=d.get(value,0)+1

max_freq=-1
ans_elem=0
for elem in l:
    if d[elem]>max_freq:
        max_freq=d[elem]
        ans_elem=max_freq
print(ans_elem)

10
675 28 -429 -290 444 -949 992 -850 280 810
1

In [129]:
n=int(input())
l=[int(i) for i in input().split()]
b=[]
for i in range(0,len(l)):
    a=[]
    for j in range(i,len(l)):
        if l[i]==l[j]:
            a.append(j)
    b.append(a)
b

20
113 193 122 188 143 193 109 122 178 177 167 197 191 131 160 122 115 184 178 123

[[0],
 [1, 5],
 [2, 7, 15],
 [3],
 [4],
 [5],
 [6],
 [7, 15],
 [8, 18],
 [9],
 [10],
 [11],
 [12],
 [13],
 [14],
 [15],
 [16],
 [17],
 [18],
 [19]]

In [127]:
c=[]
for i in range(len(b)):
    for j in range(len(b[i])):
        c.append(b[i][j])
c

[0,
 1,
 5,
 2,
 7,
 15,
 3,
 4,
 5,
 6,
 7,
 15,
 8,
 18,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19]

In [128]:
sum1=[]
if len(c)%2==0:
    for i in range(0,len(c)-1):
        ans=c[i+1]-c[i]
        sum1.append(ans)
        i=i+2
else:
    for i in range(0,len(c)):
        ans=c[i+1]-c[i]
        sum1.append(ans)
        i=i+2

IndexError: list index out of range

In [120]:
max(sum1)

7

In [133]:
#macimum Distance when only there is two repeatation
n=int(input())
l=[int(i) for i in input().split()]
b=[]
for i in range(0,len(l)):
    a=[]
    for j in range(i,len(l)):
        if l[i]==l[j]:
            a.append(j)
    b.append(a)
c=[]
for i in range(len(b)):
    for j in range(len(b[i])):
        c.append(b[i][j])
sum1=[]
i=0
n=len(c)
if n%2==0:
    while i<=n-1:
        ans=c[i+1]-c[i]
        sum1.append(ans)
        i=i+2
else:
    while i<n-1:
        ans=c[i+1]-c[i]
        sum1.append(ans)
        i=i+2
print(max(sum1))

20
113 193 122 188 143 193 109 122 178 177 167 197 191 131 160 122 115 184 178 123
10

In [4]:
#Maximum Distance
def maxDistance(arr, n): 
    mp = {} 
    maxDict = 0
    for i in range(n): 
        if arr[i] not in mp.keys(): 
            mp[arr[i]] = i  
        else: 
            maxDict = max(maxDict, i-mp[arr[i]])
    print(mp)
    print(maxDict)
n=int(input())
l=[int(i) for i in input().split()]

maxDistance(l,n)

20
113 193 122 188 143 193 109 122 178 177 167 197 191 131 160 122 115 184 178 123
{113: 0, 193: 1, 122: 2, 188: 3, 143: 4, 109: 6, 178: 8, 177: 9, 167: 10, 197: 11, 191: 12, 131: 13, 160: 14, 115: 16, 184: 17, 123: 19}
13

In [49]:
#First Non Repeating Character
s=input()
l=list(s)
print(l)
d={}
for w in l:
    d[w]=d.get(w,0)+1
print(d)
for w in l:
        if d[w]==1:
            print(w)
            break

DAIHWaObMefwBsBaJ
['D', 'A', 'I', 'H', 'W', 'a', 'O', 'b', 'M', 'e', 'f', 'w', 'B', 's', 'B', 'a', 'J']
{'D': 1, 'A': 1, 'I': 1, 'H': 1, 'W': 1, 'a': 2, 'O': 1, 'b': 1, 'M': 1, 'e': 1, 'f': 1, 'w': 1, 'B': 2, 's': 1, 'J': 1}
D

In [15]:
s=input()
l=list(s)
d={}
for w in l:
    d[w]=d.get(w,0)+1
for w in d:
        if d[w]==1:
            print(w)
            break

DAIHWaObMefwBsBaJ
D

In [54]:
#Different Names
s=input().split()
l=list(s)
d={}
for w in l:
    d[w]=d.get(w,0)+1
new=[]
for w in d:
    new.append(d[w])
if max(new)==1:
    print(-1)
else:
    for w in d:
        if d[w]>=2:
            print(w,d[w])

Naman Ajmera Aditya Arpit Naman Ajmera Naman Ashu
Naman 3
Ajmera 2

In [55]:
l=[int(i) for i in input().split()]
d={}
for w in l:
    d[w]=d.get(w,0)+1
print(d)
for w in l:
        if d[w]%2==0:
            print(w)
            break

4 7 1 7 1 9
{4: 1, 7: 2, 1: 2, 9: 1}
7

In [56]:
#Even Sum
l=[int(i) for i in input().split()]
d={}
for w in l:
    d[w]=d.get(w,0)+1
for w in l:
        if d[w]%2==0:
            print(w)
            break

4 7 1 7 1 9
7

In [57]:
if k<0:
    k*=-1
m={}
for num in l:
    if num+k in m:
        for i in range(0,m[num+k]):
            print(num,num+k)
    if k!=0 and num-k in m:
        for i in range(0,m[num-k]):
            print(num-k,num)
    
    if num in m:
        m[num]+=1
    else:
        m[num]=1

NameError: name 'k' is not defined

In [ ]:
def printPairDiffK(l, k):
    if k<0:
        k*=-1
    m={}
    for num in l:
        if num+k in m:
            for i in range(0,m[num+k]):
                print(num,num+k)
        if k!=0 and num-k in m:
            for i in range(0,m[num-k]):
                print(num-k,num)

        if num in m:
            m[num]+=1
        else:
            m[num]=1
#Implement Your Code Here


n=int(input())
l=list(int(i) for i in input().strip().split(' '))
k=int(input())
printPairDiffK(l, k)

In [1]:
d={'March 1, 2018': 13, 'February 28, 2018': 42, 'February 27, 2018': 37, 'February 26, 2018': 33, 'February 25, 2018': 6, 'February 24, 2018': 5, 'February 23, 2018': 28, 'February 22, 2018': 35, 'February 21, 2018': 47, 'February 20, 2018': 36, 'February 19, 2018': 26, 'February 18, 2018': 5, 'February 16, 2018': 19, 'February 15, 2018': 41, 'February 14, 2018': 50, 'February 13, 2018': 40, 'February 12, 2018': 36, 'February 11, 2018': 6, 'February 9, 2018': 20, 'February 8, 2018': 39, 'February 7, 2018': 46, 'February 6, 2018': 51, 'February 5, 2018': 51, 'February 4, 2018': 4, 'February 3, 2018': 4, 'February 2, 2018': 52, 'February 1, 2018': 31, 'January 31, 2018': 31, 'January 30, 2018': 42, 'January 29, 2018': 56, 'January 28, 2018': 5, 'January 26, 2018': 25, 'January 25, 2018': 35, 'January 24, 2018': 44, 'January 23, 2018': 44, 'January 22, 2018': 35, 'January 21, 2018': 3, 'January 19, 2018': 34, 'January 18, 2018': 42, 'January 17, 2018': 57, 'January 16, 2018': 36, 'January 15, 2018': 45, 'January 14, 2018': 5, 'January 12, 2018': 41, 'January 11, 2018': 36, 'January 10, 2018': 36, 'January 9, 2018': 43, 'January 8, 2018': 46, 'January 7, 2018': 4, 'January 6, 2018': 11, 'January 5, 2018': 31, 'January 4, 2018': 39, 'January 3, 2018': 48, 'January 2, 2018': 33, 'December 30, 2017': 5, 'December 29, 2017': 10, 'December 28, 2017': 7, 'December 27, 2017': 20, 'December 26, 2017': 3, 'December 25, 2017': 3, 'December 24, 2017': 1, 'December 23, 2017': 24, 'December 22, 2017': 17, 'December 21, 2017': 11, 'December 20, 2017': 25, 'December 19, 2017': 24, 'December 18, 2017': 25, 'December 17, 2017': 3, 'December 15, 2017': 12, 'December 14, 2017': 15, 'December 13, 2017': 22, 'December 12, 2017': 22, 'December 11, 2017': 16, 'December 10, 2017': 1, 'December 8, 2017': 15, 'December 7, 2017': 16, 'December 6, 2017': 25, 'December 5, 2017': 23, 'December 4, 2017': 17, 'December 3, 2017': 1, 'December 2, 2017': 1, 'December 1, 2017': 7, 'November 30, 2017': 8, 'November 29, 2017': 17, 'November 28, 2017': 18, 'November 27, 2017': 13, 'November 24, 2017': 3, 'November 22, 2017': 5, 'November 21, 2017': 11, 'November 20, 2017': 8, 'November 19, 2017': 3, 'November 17, 2017': 11, 'November 16, 2017': 20, 'November 15, 2017': 16, 'November 14, 2017': 11, 'November 13, 2017': 17, 'November 12, 2017': 4, 'November 11, 2017': 1, 'November 10, 2017': 3, 'November 9, 2017': 11, 'November 8, 2017': 9, 'November 7, 2017': 19, 'November 6, 2017': 12, 'November 3, 2017': 6, 'November 2, 2017': 12, 'November 1, 2017': 14, 'October 31, 2017': 8, 'October 30, 2017': 15, 'October 27, 2017': 4, 'October 26, 2017': 20, 'October 25, 2017': 9, 'October 24, 2017': 13, 'October 23, 2017': 8, 'October 22, 2017': 1, 'October 20, 2017': 9, 'October 19, 2017': 8, 'October 18, 2017': 6, 'October 17, 2017': 7, 'October 16, 2017': 6, 'October 13, 2017': 14, 'October 12, 2017': 16, 'October 11, 2017': 5, 'October 10, 2017': 12, 'October 9, 2017': 6, 'October 6, 2017': 10, 'October 5, 2017': 5, 'October 4, 2017': 16, 'October 3, 2017': 9, 'October 2, 2017': 6, 'October 1, 2017': 2, 'September 29, 2017': 10, 'September 28, 2017': 5, 'September 27, 2017': 8, 'September 26, 2017': 13, 'September 25, 2017': 6, 'September 22, 2017': 12, 'September 21, 2017': 3, 'September 20, 2017': 6, 'September 19, 2017': 10, 'September 18, 2017': 6, 'September 17, 2017': 2, 'September 15, 2017': 2, 'September 14, 2017': 10, 'September 13, 2017': 7, 'September 12, 2017': 7, 'September 11, 2017': 4, 'September 10, 2017': 3, 'September 8, 2017': 5, 'September 7, 2017': 5, 'September 6, 2017': 4, 'September 5, 2017': 6, 'September 4, 2017': 7, 'September 1, 2017': 4, 'August 31, 2017': 3, 'August 30, 2017': 2, 'August 29, 2017': 11, 'August 28, 2017': 9, 'August 27, 2017': 3, 'August 25, 2017': 5, 'August 24, 2017': 2, 'August 23, 2017': 5, 'August 22, 2017': 8, 'August 21, 2017': 4, 'August 18, 2017': 5, 'August 17, 2017': 7, 'August 16, 2017': 5, 'August 15, 2017': 7, 'August 14, 2017': 4, 'August 11, 2017': 4, 'August 10, 2017': 5, 'August 9, 2017': 5, 'August 8, 2017': 7, 'August 7, 2017': 12, 'August 6, 2017': 3, 'August 4, 2017': 7, 'August 3, 2017': 3, 'August 2, 2017': 7, 'August 1, 2017': 2, 'July 31, 2017': 2, 'July 30, 2017': 1, 'July 28, 2017': 1, 'July 27, 2017': 2, 'July 26, 2017': 2, 'July 25, 2017': 4, 'July 24, 2017': 5, 'July 23, 2017': 7, 'July 21, 2017': 4, 'July 20, 2017': 2, 'July 19, 2017': 8, 'July 17, 2017': 8, 'July 16, 2017': 2, 'July 14, 2017': 2, 'July 13, 2017': 2, 'July 12, 2017': 4, 'July 11, 2017': 5, 'July 10, 2017': 8, 'July 7, 2017': 5, 'July 6, 2017': 2, 'July 5, 2017': 6, 'July 4, 2017': 1, 'July 3, 2017': 3, 'June 30, 2017': 2, 'June 29, 2017': 6, 'June 28, 2017': 5, 'June 26, 2017': 2, 'June 25, 2017': 1, 'June 23, 2017': 4, 'June 22, 2017': 5, 'June 21, 2017': 8, 'June 20, 2017': 8, 'June 19, 2017': 2, 'June 17, 2017': 1, 'June 16, 2017': 1, 'June 14, 2017': 7, 'June 13, 2017': 3, 'June 12, 2017': 5, 'June 9, 2017': 6, 'June 8, 2017': 5, 'June 7, 2017': 3, 'June 6, 2017': 3, 'June 5, 2017': 2, 'June 2, 2017': 7, 'June 1, 2017': 2, 'May 31, 2017': 6, 'May 30, 2017': 5, 'May 26, 2017': 2, 'May 25, 2017': 11, 'May 24, 2017': 3, 'May 23, 2017': 4, 'May 22, 2017': 3, 'May 19, 2017': 8, 'May 18, 2017': 4, 'May 17, 2017': 5, 'May 16, 2017': 5, 'May 15, 2017': 5, 'May 14, 2017': 2, 'May 12, 2017': 2, 'May 11, 2017': 8, 'May 10, 2017': 5, 'May 9, 2017': 3, 'May 8, 2017': 4, 'May 5, 2017': 2, 'May 4, 2017': 3, 'May 3, 2017': 6, 'May 2, 2017': 3, 'May 1, 2017': 2, 'April 28, 2017': 4, 'April 27, 2017': 2, 'April 26, 2017': 1, 'April 25, 2017': 3, 'April 24, 2017': 1, 'April 23, 2017': 1, 'April 21, 2017': 3, 'April 20, 2017': 2, 'April 19, 2017': 2, 'April 18, 2017': 2, 'April 13, 2017': 6, 'April 12, 2017': 2, 'April 11, 2017': 2, 'April 10, 2017': 4, 'April 9, 2017': 1, 'April 7, 2017': 3, 'April 6, 2017': 2, 'April 5, 2017': 1, 'April 4, 2017': 2, 'April 3, 2017': 5, 'March 31, 2017': 1, 'March 29, 2017': 7, 'March 28, 2017': 4, 'March 27, 2017': 4, 'March 24, 2017': 2, 'March 23, 2017': 1, 'March 22, 2017': 2, 'March 21, 2017': 1, 'March 20, 2017': 3, 'March 15, 2017': 1, 'March 14, 2017': 2, 'March 13, 2017': 8, 'March 10, 2017': 3, 'March 9, 2017': 2, 'March 8, 2017': 5, 'March 7, 2017': 2, 'March 6, 2017': 7, 'March 3, 2017': 1, 'March 2, 2017': 2, 'March 1, 2017': 1, 'February 28, 2017': 1, 'February 27, 2017': 3, 'February 26, 2017': 1, 'February 24, 2017': 1, 'February 23, 2017': 2, 'February 22, 2017': 4, 'February 21, 2017': 3, 'February 20, 2017': 1, 'February 18, 2017': 1, 'February 17, 2017': 1, 'February 16, 2017': 2, 'February 15, 2017': 4, 'February 14, 2017': 3, 'February 13, 2017': 5, 'February 10, 2017': 3, 'February 9, 2017': 5, 'February 8, 2017': 10, 'February 7, 2017': 4, 'February 6, 2017': 3, 'February 5, 2017': 2, 'February 3, 2017': 5, 'February 2, 2017': 1, 'February 1, 2017': 3, 'January 31, 2017': 1, 'January 30, 2017': 4, 'January 27, 2017': 3, 'January 26, 2017': 1, 'January 25, 2017': 1, 'January 24, 2017': 2, 'January 20, 2017': 6, 'January 19, 2017': 2, 'January 18, 2017': 2, 'January 17, 2017': 2, 'January 16, 2017': 3, 'January 13, 2017': 2, 'January 12, 2017': 5, 'January 11, 2017': 2, 'January 10, 2017': 1, 'January 9, 2017': 2, 'January 6, 2017': 2, 'January 5, 2017': 2, 'January 4, 2017': 1, 'January 3, 2017': 1, 'December 29, 2016': 1, 'December 27, 2016': 2, 'December 22, 2016': 1, 'December 21, 2016': 2, 'December 19, 2016': 2, 'December 16, 2016': 1, 'December 13, 2016': 5, 'December 9, 2016': 1, 'December 8, 2016': 1, 'December 2, 2016': 3, 'November 30, 2016': 1, 'November 28, 2016': 1, 'November 22, 2016': 1, 'November 17, 2016': 1, 'November 16, 2016': 1, 'November 15, 2016': 1, 'November 14, 2016': 2, 'November 11, 2016': 1, 'November 9, 2016': 1, 'November 8, 2016': 1, 'November 4, 2016': 1, 'October 31, 2016': 2, 'October 28, 2016': 1, 'October 27, 2016': 1, 'October 26, 2016': 2, 'October 21, 2016': 1, 'October 18, 2016': 1, 'October 14, 2016': 4, 'October 13, 2016': 3, 'October 12, 2016': 1, 'October 11, 2016': 4, 'October 10, 2016': 2, 'October 5, 2016': 1, 'October 3, 2016': 1, 'September 30, 2016': 1, 'September 29, 2016': 1, 'September 28, 2016': 1, 'September 23, 2016': 2, 'September 21, 2016': 1, 'September 15, 2016': 2, 'September 13, 2016': 1, 'September 12, 2016': 2, 'September 7, 2016': 2, 'September 2, 2016': 1, 'August 30, 2016': 2, 'August 29, 2016': 2, 'August 24, 2016': 1, 'August 23, 2016': 2, 'August 22, 2016': 1, 'August 16, 2016': 1, 'August 15, 2016': 1, 'August 10, 2016': 1, 'August 8, 2016': 1, 'August 3, 2016': 1, 'July 18, 2016': 1, 'July 14, 2016': 1, 'July 13, 2016': 1, 'July 7, 2016': 1, 'July 5, 2016': 1, 'June 29, 2016': 3, 'June 27, 2016': 1, 'June 23, 2016': 1, 'June 13, 2016': 2, 'June 9, 2016': 1, 'June 2, 2016': 1, 'May 31, 2016': 1, 'May 20, 2016': 1, 'May 10, 2016': 1, 'April 28, 2016': 1, 'April 25, 2016': 1, 'April 22, 2016': 2, 'April 18, 2016': 1, 'March 21, 2016': 1, 'March 20, 2016': 2, 'March 8, 2016': 1, 'March 4, 2016': 1, 'February 25, 2016': 2, 'February 24, 2016': 1, 'February 22, 2016': 1, 'February 15, 2016': 1, 'February 10, 2016': 1, 'February 1, 2016': 1, 'January 26, 2016': 2, 'January 13, 2016': 3, 'January 8, 2016': 1, 'January 4, 2016': 1, 'December 22, 2015': 1, 'December 15, 2015': 1, 'December 7, 2015': 1, 'November 10, 2015': 2, 'November 6, 2015': 1, 'September 17, 2015': 1, 'September 15, 2015': 2, 'September 8, 2015': 1, 'September 4, 2015': 1, 'August 24, 2015': 1, 'August 13, 2015': 1, 'August 12, 2015': 2, 'July 17, 2015': 2, 'July 15, 2015': 1, 'June 18, 2015': 1, 'May 14, 2015': 4, 'April 17, 2015': 1, 'April 2, 2015': 1, 'February 9, 2015': 1, 'February 6, 2015': 1, 'February 5, 2015': 1, 'January 13, 2015': 1, 'November 20, 2014': 1, 'November 17, 2014': 1, 'October 10, 2014': 1, 'June 4, 2014': 1, 'April 21, 2014': 1, 'September 26, 2013': 1, 'February 5, 2013': 1, 'January 3, 2013': 1, 'November 19, 2012': 1, 'October 21, 2012': 3, 'August 29, 2012': 1, 'April 23, 2012': 1, 'March 6, 2012': 1}

In [18]:
d={'US, WA, Seattle ': 1310, 'IN, KA, Bangalore ': 55, 'US, CA, Cupertino ': 50, 'US, CA, East Palo Alto ': 69, 'US, CA, Santa Monica ': 15, 'US, CA, Sunnyvale ': 96, 'US, CA, Palo Alto ': 98, 'US, MA, Boston ': 4, 'US, MA, Cambridge ': 94, 'CA, BC, Vancouver ': 87, 'US, TX, Austin ': 30, 'IN, TS, Hyderabad ': 25, 'US, CA, San Francisco ': 30, 'RO, Iasi ': 9, 'PL, Gdansk ': 16, 'PL, Bielany Wroclawskie ': 1, 'US, CA, Irvine ': 13, 'CA, ON, Toronto ': 17, 'US, MA, North Reading ': 10, 'US, MN, Minneapolis ': 4, 'AE, Dubai ': 1, 'US, CA, San Diego ': 6, 'US, CA, Santa Barbara ': 5, 'US, OR, Portland ': 5, 'ES, Madrid ': 13, 'US, NJ, Newark ': 16, 'US, NY, New York ': 33, 'IN, TN, Chennai ': 26, 'IL, Herzliya ': 2, 'DE, Aachen ': 3, 'US, MA, Westborough ': 1, 'DE, Berlin ': 14, 'US, WA, Bellevue ': 42, 'UK, London ': 15, 'US, CO, Boulder ': 7, 'US, CA, Santa Cruz ': 6, 'US, CA, San Luis Obispo ': 3, 'UK, Cambridge ': 12, 'SG, Singapore ': 1, 'AU, NSW, Sydney ': 9, 'US, VA, Herndon ': 32, 'US, CO, Broomfield ': 5, 'UK, Edinburgh ': 1, 'US, AZ, Tempe ': 5, 'IE, DUBLIN, Dublin ': 30, 'IN, DL, Gurgaon ': 1, 'IN, HR, Gurgaon ': 3, 'CN, Beijing ': 11, 'MX, EMEX, Mexico City ': 2, 'NL, The Hague ': 2, 'ZA, Cape Town ': 12, 'FR, Paris ': 2, 'US, VA, Ballston ': 3, 'JO, Amman ': 2, 'US, PA, Pittsburgh ': 2, 'US, GA, Atlanta ': 2, 'UK, N YORK, Heslington ': 2, 'CA, MB, Winnipeg ': 1, 'TW, TP, Taipei ': 4, 'US, CO, Denver ': 7, 'DE, BY, Graben ': 1, 'CN, Shanghai ': 3, 'LU, Luxembourg ': 6, 'DE, Standortuebergreifend ': 1, 'US, CA, Foster City ': 2, 'UK, CAMBS, Cambridge ': 7, 'BR, SP, Sao Paulo ': 8, 'JP, Meguro ': 4, 'IT, AT, Asti ': 1, 'UK, BRIST, Bristol ': 1, 'US, Virtual ': 1, 'CA, ON, ': 1, 'IN, MH, Pune ': 1, 'US, CA, San Jose ': 2, 'CA, ': 3, 'CA, ON, Ottawa ': 2, '': 1, 'US, NV, Las Vegas ': 1}

In [19]:
d

{'US, WA, Seattle ': 1310,
 'IN, KA, Bangalore ': 55,
 'US, CA, Cupertino ': 50,
 'US, CA, East Palo Alto ': 69,
 'US, CA, Santa Monica ': 15,
 'US, CA, Sunnyvale ': 96,
 'US, CA, Palo Alto ': 98,
 'US, MA, Boston ': 4,
 'US, MA, Cambridge ': 94,
 'CA, BC, Vancouver ': 87,
 'US, TX, Austin ': 30,
 'IN, TS, Hyderabad ': 25,
 'US, CA, San Francisco ': 30,
 'RO, Iasi ': 9,
 'PL, Gdansk ': 16,
 'PL, Bielany Wroclawskie ': 1,
 'US, CA, Irvine ': 13,
 'CA, ON, Toronto ': 17,
 'US, MA, North Reading ': 10,
 'US, MN, Minneapolis ': 4,
 'AE, Dubai ': 1,
 'US, CA, San Diego ': 6,
 'US, CA, Santa Barbara ': 5,
 'US, OR, Portland ': 5,
 'ES, Madrid ': 13,
 'US, NJ, Newark ': 16,
 'US, NY, New York ': 33,
 'IN, TN, Chennai ': 26,
 'IL, Herzliya ': 2,
 'DE, Aachen ': 3,
 'US, MA, Westborough ': 1,
 'DE, Berlin ': 14,
 'US, WA, Bellevue ': 42,
 'UK, London ': 15,
 'US, CO, Boulder ': 7,
 'US, CA, Santa Cruz ': 6,
 'US, CA, San Luis Obispo ': 3,
 'UK, Cambridge ': 12,
 'SG, Singapore ': 1,
 'AU, NSW, Sydney ': 9,
 'US, VA, Herndon ': 32,
 'US, CO, Broomfield ': 5,
 'UK, Edinburgh ': 1,
 'US, AZ, Tempe ': 5,
 'IE, DUBLIN, Dublin ': 30,
 'IN, DL, Gurgaon ': 1,
 'IN, HR, Gurgaon ': 3,
 'CN, Beijing ': 11,
 'MX, EMEX, Mexico City ': 2,
 'NL, The Hague ': 2,
 'ZA, Cape Town ': 12,
 'FR, Paris ': 2,
 'US, VA, Ballston ': 3,
 'JO, Amman ': 2,
 'US, PA, Pittsburgh ': 2,
 'US, GA, Atlanta ': 2,
 'UK, N YORK, Heslington ': 2,
 'CA, MB, Winnipeg ': 1,
 'TW, TP, Taipei ': 4,
 'US, CO, Denver ': 7,
 'DE, BY, Graben ': 1,
 'CN, Shanghai ': 3,
 'LU, Luxembourg ': 6,
 'DE, Standortuebergreifend ': 1,
 'US, CA, Foster City ': 2,
 'UK, CAMBS, Cambridge ': 7,
 'BR, SP, Sao Paulo ': 8,
 'JP, Meguro ': 4,
 'IT, AT, Asti ': 1,
 'UK, BRIST, Bristol ': 1,
 'US, Virtual ': 1,
 'CA, ON, ': 1,
 'IN, MH, Pune ': 1,
 'US, CA, San Jose ': 2,
 'CA, ': 3,
 'CA, ON, Ottawa ': 2,
 '': 1,
 'US, NV, Las Vegas ': 1}

In [20]:
l=list(d)

In [21]:
l

['US, WA, Seattle ',
 'IN, KA, Bangalore ',
 'US, CA, Cupertino ',
 'US, CA, East Palo Alto ',
 'US, CA, Santa Monica ',
 'US, CA, Sunnyvale ',
 'US, CA, Palo Alto ',
 'US, MA, Boston ',
 'US, MA, Cambridge ',
 'CA, BC, Vancouver ',
 'US, TX, Austin ',
 'IN, TS, Hyderabad ',
 'US, CA, San Francisco ',
 'RO, Iasi ',
 'PL, Gdansk ',
 'PL, Bielany Wroclawskie ',
 'US, CA, Irvine ',
 'CA, ON, Toronto ',
 'US, MA, North Reading ',
 'US, MN, Minneapolis ',
 'AE, Dubai ',
 'US, CA, San Diego ',
 'US, CA, Santa Barbara ',
 'US, OR, Portland ',
 'ES, Madrid ',
 'US, NJ, Newark ',
 'US, NY, New York ',
 'IN, TN, Chennai ',
 'IL, Herzliya ',
 'DE, Aachen ',
 'US, MA, Westborough ',
 'DE, Berlin ',
 'US, WA, Bellevue ',
 'UK, London ',
 'US, CO, Boulder ',
 'US, CA, Santa Cruz ',
 'US, CA, San Luis Obispo ',
 'UK, Cambridge ',
 'SG, Singapore ',
 'AU, NSW, Sydney ',
 'US, VA, Herndon ',
 'US, CO, Broomfield ',
 'UK, Edinburgh ',
 'US, AZ, Tempe ',
 'IE, DUBLIN, Dublin ',
 'IN, DL, Gurgaon ',
 'IN, HR, Gurgaon ',
 'CN, Beijing ',
 'MX, EMEX, Mexico City ',
 'NL, The Hague ',
 'ZA, Cape Town ',
 'FR, Paris ',
 'US, VA, Ballston ',
 'JO, Amman ',
 'US, PA, Pittsburgh ',
 'US, GA, Atlanta ',
 'UK, N YORK, Heslington ',
 'CA, MB, Winnipeg ',
 'TW, TP, Taipei ',
 'US, CO, Denver ',
 'DE, BY, Graben ',
 'CN, Shanghai ',
 'LU, Luxembourg ',
 'DE, Standortuebergreifend ',
 'US, CA, Foster City ',
 'UK, CAMBS, Cambridge ',
 'BR, SP, Sao Paulo ',
 'JP, Meguro ',
 'IT, AT, Asti ',
 'UK, BRIST, Bristol ',
 'US, Virtual ',
 'CA, ON, ',
 'IN, MH, Pune ',
 'US, CA, San Jose ',
 'CA, ',
 'CA, ON, Ottawa ',
 '',
 'US, NV, Las Vegas ']